
.Modal {
    @include make-col-ready();
    @include make-col(1, 2);
    @include make-col-offset(1, 4);

    padding: ($spacer / 2) $spacer;

    &__card {
        background-color: white;
        border-radius: $border-radius;
        padding: $spacer;
    }

    &__container {
        @include make-container();
        @include make-container-max-widths();

        margin-bottom: auto;
        margin-top: auto;
        z-index: $zindex-modal;
    }

    &__controls {
        @include make-col-ready();
        @include make-col(1, 2);
        @include make-col-offset(1, 4);

        padding: ($spacer / 2) $spacer;
        text-align: right;

        &-link {
            color: white;
            font-size: $font-size-h4;
        }
    }

    &__row {
        @include make-row();
    }

    &__wrapper {
        background-color: rgba($gray-dark, .67);
        display: flex;
        flex-direction: column;
        position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
        z-index: $zindex-modal-backdrop;
    }
}
