@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');

//Headings
h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: $font-size-h1;
  color: $gray-light;
  letter-spacing: 4.5px;
  line-height: 2.25em;

  @include media-breakpoint-down(sm) {
    font-size: 1em;
    font-weight: 300;
  }

}

h5,
h6 {
  margin-top: 1em !important;
}

//text


//links

a {
  &.tiny {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    color: $brand-primary;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      color: rgba($brand-primary, .8);
    }
  }
}

//link buttons
.links {
  .btn {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: rgba($brand-primary,.5);
    font-weight: 600;
    font-size: 1em;
  }
  .btn:hover {
    opacity: 1;
    text-decoration: none;
    color: $brand-primary;
  }
}

//tags
.tags {
  margin: 1em 0 2em;
}

.tag:link,
.tag:visited {
  color: rgba($gray-light, .6);
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  padding-left:0;
  margin-right: .5em;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: $btn-letter-spacing;

}

.tag:active,
.tag:hover,
.tag:focus {
  color: $brand-primary;
  border-color: transparent;
}


//ionicons
*[class*="ion-"]:before {
  margin: 0 .5em;
}


.social-icons {
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin: 2em 1em 0;
}

.social-icons a {
  display: block;
  color: $gray-dark;
  font-size: 1.5em;

  &:hover {
    color: $brand-primary;
  }
}

.social-icons i {
  display: block;
}
